@page "/aboutme"

<PageTitle>Aboutme</PageTitle>

<h1>About Me</h1>

<img src="images/linkedinlogo.png" alt="linkedin" width="25" height="25">
<a href="https://www.linkedin.com/in/thomas-tramp-a41b8216a">
    Linkedin
</a>
<br />
<img src="images/github logo.png" alt="linkedin" width="25" height="25">
<a href="https://github.com/tomt15"> Github </a>

@*Create modal displaying resume and then download button below it*@

@code {

}
