/*#WorkExperience p {
    margin: 0;
    padding: 0;
}
*/
#education {
    margin: 2%;
}

#Resume p {
    margin: 0;
    padding: 0;
}

#skills {
    padding: 10%;
}

#CommunicationANDLeadership {
    padding: 10%;
}

#Education {
    padding: 10%;
}

#Title {
    padding: 2.5%;
}

#Projects {
    padding: 2.5%;
}
