@page "/aboutme"
@using System.IO
@inject IJSRuntime JS


<PageTitle>Aboutme</PageTitle>

<h1>About Me</h1>

<img src="images/linkedinlogo.png" alt="linkedin" width="25" height="25">
<a target="_blank" href="https://www.linkedin.com/in/thomas-tramp-a41b8216a">
    Linkedin
</a>
<br />
<img src="images/github logo.png" alt="linkedin" width="25" height="25">
<a target="_blank" href="https://github.com/tomt15"> Github </a>

<br />
<br />
@*Create modal displaying resume and then download button below it*@

<div id="Resume" class="container">
    <div class="row">
        <div id="MyColumn" class="col-sm-2 panel panel-default">
            <div id="skills" class="border">
                <b>SKILLS</b>
                <ul>
                    <li>
                        .Net Framework 4.6 - 4.8 & Core
                    </li>
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>PowerShell</li>
                    <li>MySQL</li>
                    <li>Knowledge of Visual Studio and VS Code</li>
                    <li>Customer Service Skills</li>
                    <li>Windows Servers 2016</li>
                    <li>Git/GitHub</li>
                    <li>AzureDev Ops</li>
                    <li>IIS</li>
                    <li>Angular JS (From School)</li>
                    <li>React (Personal Use and Learning)</li>
                </ul>
            </div>

            <br />

            <div id="Education" class="border">
                <b>EDUCATION</b>
                <p>
                    <b>Wayne, NE</b>, Wayne State Colleague — CIS Programming Analysis and <i>Business Minor</i>
                </p>
                <p class="text-muted">
                    2015 - May 2019
                    <i>3.731 GPA</i>
                    Member of UPE (Upsilon Pi Epsilon
                    International Honorary Society for Computing Maj
                </p>
            </div>

            <br />

            <div id="CommunicationANDLeadership" class="border">
                <b>Communication and Leadership</b>
                <ul>
                    <li>
                        Took responsibility for increasing productivity through the use of
                        automation and scripts (self-taught).
                    </li>
                    <li>
                        Utilized effective communication skills in the form of email, team meetings, and chat applications such as
                        teams through my current position at Nelnet.
                    </li>
                    <li>Applied various forms and styles of communication for effective customer service at Best Buy.</li>
                </ul>
            </div>
        </div>
        @*Next Row*@
        <div id="MiddlePage" class="col-sm-7">
            @*            <div class="row">*@
            <div id="WorkExperience" class="col-sm-12 border">
                <div id="Title" class="text-left">
                    <p>
                        <b>Work Experience</b>
                    </p>
                    <br />
                    <p class="bottom-0">
                        <b>Streck</b>, Omaha— CRM Dynamics 365 Admin <br />
                        <i>Aug 2022 - PRESENT</i>
                    </p>
                    <p class="text-muted">
                        Admin of Dynamic’s system changes <br />
                        Admin and developer for enhancements <br />
                        CRM  <br />
                        Lead in upgrades to CORE 6 on plugin development <br />
                    </p>
                    <br />

                    <p>
                        <b>Nelnet</b>, Omaha—.Net/Colleague/Cloud Connector/Banner
                        ERP Developer <br />
                        <i>July 2019 - Aug 2022</i>
                    </p>
                    <p class="text-muted">
                        Responsible for getting projects done in a timely manner considering
                        dynamic requirements. <br />
                        Ownership of products to help resolve issues and enhancements. <br />
                        Responsible for giving updates on said product to allow for management
                        to track and assist the project.  <br />
                        Demonstration time management by balancing meetings and
                        development <br />
                        Utilized resources to expand knowledge of the business logic including
                        taking the time to self-teach languages and techniques. <br />
                        Resolve a plethora of issues while retaining good working relations with
                        clients. <br />
                        Volunteered to learn different ERPs to help support enhancements and
                        troubleshooting on .Net and Java Frameworks. <br />
                    </p>
                    <br />

                    <p>
                        <b>Best Buy</b>, Sioux City—One Direction Sales Computing
                        Consultant <br />
                        <i>Sept 2015 - 2019</i>
                    </p>
                    <p class="text-muted">
                        Demonstrate extensive product knowledge of Best Buy products and
                        services. <br />
                        Self-taught product knowledge through research and hands-on
                        experience. <br />
                        Utilized internal resources for further self-education and development of
                        skills. <br />
                        Worked closely with clients to provide affordable home solutions. <br />
                        Formed strong relationships and demonstrated effective results to clients
                        through recommended business and home technological solution. <br />
                    </p>
                </div>
            </div>

            <br />

            <div id="Projects" class="border">
                <b>Past Projects</b>

                <br />

                <dl>
                    <dt><b>Updating tools and frameworks</b> - <i>Streck</i></dt>
                    <dd>
                        <p>
                            Started research in implementing Azure’s Git.
                            Moving frameworks to the latest supported version.
                        </p>
                    </dd>

                    <dt><b>Past Due Calculations</b> — <i>Nelnet</i></dt>
                    <dd>
                        <p>
                            Adding logic to filter through requested terms for a payment platform, compare them against all terms a student had charges and/or payments, and figure out the difference in the balance of what was not requested and return it in XML.
                        </p>
                    </dd>

                    <dt><b>Refactoring of Entire Business Logic</b> — <i>Nelnet</i></dt>
                    <dd>
                        <p>
                            Rework all logic for business. The process was done to minimize and take advantage of repeatable code. Pretty straight forward but the end product was much better and much cleaner. I was given recognition on my team for this achievement.
                        </p>
                    </dd>

                    <dt><b>Creation of Unit tests</b> — <i>Nelnet</i></dt>                    
                    <dd>
                        <p>
                            Fairly straight forward, but I brought unit testing to my work in Colleague code as none had been implemented before.
                        </p>
                    </dd>

                    <dt><b>Automation of Merges with third party code</b> - <i>Nelnet</i></dt>
                    <dd>
                        <p>
                            Creation of PowerShell scripts that took care of a lot of manual processes that were involved with code merges with third party code. This included moving .dll files around to the according areas, building in a specific order, checking for version numbers AND having the ability to have a console to approve of the version on number or manually update it. This was extremely fun, please ask about it.
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
        @*        </div>*@
    </div>
</div>

<button @onclick="DownloadFileFromStream">
    Download File From Stream
</button>

@code {
    private Stream GetFileStream()
    {
        var randomBinaryData = new byte[50 * 1024];
        var fileStream = new MemoryStream(randomBinaryData);

        return fileStream;
    }

    private async Task DownloadFileFromStream()
    {
        var fileStream = GetFileStream();
        var fileName = "file/Thomas N Tramp Resule.pdf";

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }
}