@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>
    Welcome to this new app.

    Interested in seeing my resume?

</p>

<a class="btn btn-primary" href="/aboutme">See My Resume!</a>

<SurveyPrompt Title="How is Blazor working for you?" />
